<div class="show-fighter">
  <div class="show-title">
    <div class="name-level">
      <p><%= fighter.name %></p>
      <p>Level : <%= fighter.exp %></p>
    </div>
    <div class="win-ratio">
      <p><%= fighter.victories %> win(s) / <%= fighter.battle_count %> </p>
    </div>
  </div>
  <div class="show-photo">
    <% if !fighter.photo.nil? %>
      <%= cl_image_tag fighter.photo, height: 200, width: 200, crop: :fill %>
    <% end %>
  </div>
  <div class="characteristics">
    <div class="base">
      <p><%= image_tag "heart.PNG", class: "heart-icon" %>
       <%= fighter.health %>
       <% if fighter.defense_equipment && !fighter.defense_equipment.zero? %>
          <span class="show-bonus-armor">+ <%= fighter.defense_equipment %> <%= image_tag "shield.PNG", class: "heart-icon" %></span>
       <% end %>
      </p>
      <p><%= image_tag "sword.PNG", class: "sword-icon" %>
       <%= fighter.attack %></p>
       <% if fighter.offense_equipment && !fighter.offense_equipment.zero? %>
          <span class="show-bonus-attack">+ <%= fighter.offense_equipment %></span>
       <% end %>
    </div>
    <div class="equipment">
      <p><%= fighter.left_hand.name %></p>
      <p><%= fighter.right_hand.name %></p>
    </div>
  </div>
</div>

