<div class="show-fighter">
  <div class="show-title">
    <p><%= fighter.name %></p>
    <p><%= fighter.victories %> win(s) / <%= fighter.battle_count %> </p>
  </div>
  <div class="characteristics">
    <div class="base">
      <p><%= image_tag "heart.PNG", class: "heart-icon" %>
       <%= fighter.health %></p>
      <p><%= image_tag "sword.PNG", class: "sword-icon" %>
       <%= fighter.attack %></p>
    </div>
    <div class="equipment">
      <p><%= fighter.left_hand.name %></p>
      <p><%= fighter.right_hand.name %></p>
    </div>
  </div>
</div>

