<div class="container">

  <div>
    <h2 class="title">SELECT TWO FIGHTERS THEN START THE BATTLE!</h2>
  </div>

  <div class="index-content">
    <div class="fighter-cards">
      <% @fighters.each do |fighter| %>
        <%= render "show", fighter: fighter %>
      <% end %>
    </div>

    <div class="index-links">
      <%= link_to "Create your own fighter", new_fighter_path, class: "link" %>
      <%= link_to "See battle history", battles_path, class: "link"  %>
      <div class="create-battle">
        <%= form_for @battle, url: {controller: "battles", action: :new}, method: :get do |f| %>
          <%= f.hidden_field :your_fighter_id, input_html: {
            value: '',
            id: "your-fighter"
          } %>
          <%= f.hidden_field :enemy_fighter_id, input_html: {
            value: '',
            id: "enemy-fighter"
          } %>
          <%= f.submit "START THE BATTLE", class: "battle-link" %>
        <% end %>
      </div>
    </div>
  </div>
</div>





