<div class="container">

  <div>
    <h1>Click on the hero you want to fight with</h1>
  </div>

  <div class="index-content">
    <div class="fighter-cards">
      <% @fighters.each do |fighter| %>
        <%= render "show", fighter: fighter %>
      <% end %>
    </div>

    <div class="index-links">
      <%= link_to "Create your own fighter", new_fighter_path %>
      <%= link_to "Start a battle !!", battles_path, method: :post  %>
    </div>
  </div>
</div>





<%= simple_form_for @battle do |f| %>
  <% f.input :enemy_fighter_id, :as => :hidden, :input_html => { :value => "some value", class: "hello" } %>
  <% f.input :your_fighter_id, :as => :hidden, :input_html => { :value => "some value" } %>
  <%= f.button :submit %>
<% end %>
