<div class="container">
  <div class="new-form">
    <%= simple_form_for @fighter do |f| %>
      <%= f.input :name %>
      <%= f.input :health %>
      <%= f.input :attack %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.button :submit, "CREATE CHARACTER", class: "submit-fighter" %>
    <% end %>
  </div>
</div>
