<div class="container">
  <ul>
    <li><%= @fighter.name %></li>
    <li><%= "health #{@fighter.health}" %></li>
    <li><%= "attack points #{@fighter.attack}" %></li>
  </ul>

  <%= link_to "Custom this fighter", edit_fighter_path(@fighter) %>

  <%= link_to "Back to list", fighters_path  %>
</div>

