<div class="container">
  <div class="show-content">
    <div class="show-fighter">
      <div class="title">
        <p><%= @fighter.name %></p>
        <p><%= @fighter.victories %></p>
      </div>
      <div class="characteristics">
        <p><%= image_tag "heart.PNG", class: "heart-icon" %>
         <%= @fighter.health %></p>
        <p><%= image_tag "sword.PNG", class: "sword-icon" %>
         <%= @fighter.attack %></p>
      </div>
    </div>
    <div class="shop">
      <%= simple_form_for @fighter, method: :patch do |f| %>
        <%= f.input :name %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
  <div class="show-links">
    <%= link_to "Back to list", fighters_path  %>
  </div>
</div>
