<div class="container">
  <div class="show-content">
    <%= render "show", fighter: @fighter %>
    <div class="shop">
      <div class="available">
        <div class="presentation">
          <p><strong>Change your gear</strong></p>
        </div>
        <div class="gears">
          <ul>
            <% Equipment.where.not(name: "Bare Knuckles").each do |equipment| %>
              <li class=""><%= equipment.name %>(Level <%= equipment.level %>)</li>
            <% end %>
          </ul>
        </div>
      </div>

      <%= simple_form_for @fighter, method: :patch, remote: true do |f| %>
        <%= f.input :name, input_html: { class: 'name-change' }, label: false%>
        <%= f.label :left_hand_id %>
        <%= f.collection_select :left_hand_id, @equipments, :id, :name, {}, {class: 'equipment-selector'}%>
        <%= f.label :right_hand_id %>
        <%= f.collection_select :right_hand_id, @equipments, :id, :name, {}, {class: 'equipment-selector'} %>
      <% end %>
    </div>
  </div>
  <div class="show-links">
    <%= link_to "SAVE AND GO BACK", fighters_path  %>
  </div>
</div>
