<div class="name">
  <%= fighter.name %>
</div>
<div class="battle-photo">
  <% if !fighter.photo.nil? %>
    <%= cl_image_tag fighter.photo, height: 200, width: 200, crop: :fill %>
  <% end %>
</div>
<div class="stats">
  <div class="health" data-health="<%= fighter.id %>">
    <div class="health-count">
      <div class="base-health">
        <%= fighter.health %>
      </div>
      <% if fighter.defense_equipment %>
        <p> + </p>
        <div class="armor">
          <%= fighter.defense_equipment %>
        </div>
      <% end %>
    </div>
    <div>
      <%= image_tag "heart.PNG", class: "heart-icon" %>
    </div>
  </div>
  <div class="attack" data-attack="<%= fighter.id %>">
    <div class="attack-count">
      <div class="base-attack">
        <%= fighter.attack %>
      </div>
      <% if fighter.offense_equipment && fighter.offense_equipment > 0%>
        <p> + </p>
        <div class="weapon">
          <%= fighter.offense_equipment %>
        </div>
      <% end %>
    </div>
    <div>
      <%= image_tag "sword.PNG", class: "sword-icon" %>
    </div>
  </div>
</div>
