<div class="container">
  <div class="battleground">
    <div class="around">
      <div class="fighter" id="your-fighter" data-fighter="<%= @battle.your_fighter.id %>">
        <%= render "new", fighter: @battle.your_fighter %>
      </div>
    </div>
    <div class="around">
      <div class="fighter" id="enemy-fighter" data-fighter="<%= @battle.enemy_fighter.id %>">
        <%= render "new", fighter: @battle.enemy_fighter %>
      </div>
    </div>
  </div>
  <div class="result">
    <%= form_for @battle, url: {action: :create} do |f| %>
      <%= f.hidden_field :winner_id, input_html: {
        value: '',
        id: "winner"
      } %>
      <%= f.hidden_field :your_fighter_id, input_html: {
        value: @battle.your_fighter
      } %>
      <%= f.hidden_field :enemy_fighter_id, input_html: {
        value: @battle.enemy_fighter
      } %>
      <%= f.submit "SEE THE RESULT! "%>
    <% end %>
  </div>
</div>
