<div class="container">
  <div class="battleground">
    <div class="fighter" id="your-fighter">
      <%= render "show", fighter: @battle.your_fighter %>
    </div>
    <div class="fighter" id="enemy-fighter">
      <%= render "show", fighter: @battle.enemy_fighter %>
    </div>
  </div>
  <div class="result">
    <%= form_for @battle do |f| %>
      <%= f.hidden_field :winner_id, input_html: {
        value: '',
        id: "winner"
      } %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
